/* usermanagement.css */

/* Navigation bar styling */
.nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays on top of other content */
}

.body {
    padding-top: 60px; /* Add top padding to account for the fixed header */
    background: linear-gradient(to bottom, black, darkblue); /* Gradient background */
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Ensures minimum height */
}

.nav-button {
    background-color: #03bcf4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.nav-button:hover {
    box-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 30px #03bcf4; /* Glowing effect */
}

/* Section styles for Add Account, Accounts, and Users */
.section {
    background-color: black; /* Black background for all sections */
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.section h2 {
    color: #03bcf4; /* Cyan color for section headers */
}

.button {
    background-color: #03bcf4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.button:hover {
    box-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 30px #03bcf4; /* Glowing effect */
}
.gradient-background {
    background: linear-gradient(to bottom, #000000, #03bcf456); /* Adjust the colors as needed */
}
.App {
    background: linear-gradient(to bottom, #000000, #014e65ad); /* Adjust the colors as needed */
    height: 100vh; /* Make sure the gradient covers the full height of the viewport */
    width: 100%; /* Cover the full width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section add-account gradient-background {
    color: #00000000;
    text-shadow: #000000;
}